
<!--
<h1>Login</h1>

<div class = "login">
    <div>
        <input [(ngModel)]= "email">Email
    </div>
    <div>
        <input [(ngModel)]= "password">Password
    </div>
    <button class="btn btn-primary" (click)="search()">Submit</button>
    <button class="btn btn-outline" (click)="search()">New Registration</button>
</div>
-->
<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">LOGIN</h3>
            YOLO <br>Stock Finder

        </label>
        <div class="login-group">
            <input class="username" [(ngModel)]="loginUser.email" type="text" id="login_username" placeholder="Email" [ngModelOptions]="{standalone: true}">
            <input class="password" [(ngModel)]="loginUser.password" type="password" id="login_password" placeholder="Password" [ngModelOptions]="{standalone: true}">

        <!--    <div class="error active">
                Invalid user name or password
            </div>    -->
            <button type="submit" class="btn btn-primary" (click)="login()">SUBMIT</button>
            <a href="https://digitalkyopo.github.io/yolo-stock/register" class="signup">Register New User</a>
            <a href="https://digitalkyopo.github.io/yolo-stock/search" class="signup">Forgot Password? Too Bad, Search Anyway</a>
        </div>
    </form>
</div>

