<header class="header header-1">

  <div class="branding">
      <a href="..." class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Stock Search</span>
      </a>
  </div>
  
  <div class="header-nav">
    <a routerLink="login" class="active nav-link nav-text">Login</a>
    <a routerLink="register" class="nav-link nav-text">Register</a>
    <a routerLink="search" class="nav-link nav-text">Search</a>
  </div>
  
</header>

<h1>Live from app.component.html</h1>

<router-outlet></router-outlet>