<head>
  <script src="node_modules/chart.js/src/chart.js"></script>
</head>

<p>Live from search.component.html</p>

<div class="search">
  <h2>Stock Search</h2>
  <input [(ngModel)]= "symbol" (keyup.enter)="search()">
  <button (click)="search()">Search Ticker</button>
</div>
<!--
<div *ngIf="results['Time Series (Daily)']">
  <div *ngFor="let property of results['Time Series (Daily)']">Daily: {{ property }}</div>
</div>
-->
<p>{{ results["Meta Data"]["2. Symbol"] }} Daily Price Results: </p>
<p>Open: {{ results["Time Series (Daily)"][this.lastRefreshed]["1. open"] }}</p>
<p>High: {{ results["Time Series (Daily)"][this.lastRefreshed]["2. high"] }}</p>
<p>Low: {{ results["Time Series (Daily)"][this.lastRefreshed]["3. low"] }}</p>
<p>Close: {{ results["Time Series (Daily)"][this.lastRefreshed]["4. close"] }}</p>
<p>Results: {{ results }}</p>