<head>
  <script src="node_modules/chart.js/src/chart.js"></script>
</head>

<div class="search group">
  <div class="search">
    <h2>Remember YOLO</h2>
  </div>
  <div class="search input">  
    <input [(ngModel)]="symbol" (keyup.enter)="search()">
    <button class='btn btn-primary' (click)="search()">Search Ticker</button>
  </div>

  <div class="save group" *ngIf="display">
    <span>Ticker: {{ saveSymbol }}</span>
    <button class='button' (click)="save()">Save to favorites</button>
  </div>
</div>

<div *ngIf="display">
  <div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">DO NOT TOUCH!</button>
  </div>
  </div>
</div>
<!--
<div *ngIf="results['Time Series (Daily)']">
  <div *ngFor="let property of results['Time Series (Daily)']">Daily: {{ property }}</div>
</div>
-->

<!--
<p>{{ results["Meta Data"]["2. Symbol"] }} Daily Price Results: </p>
<p>Open: {{ results["Time Series (Daily)"][this.lastRefreshed]["1. open"] }}</p>
<p>High: {{ results["Time Series (Daily)"][this.lastRefreshed]["2. high"] }}</p>
<p>Low: {{ results["Time Series (Daily)"][this.lastRefreshed]["3. low"] }}</p>
<p>Close: {{ results["Time Series (Daily)"][this.lastRefreshed]["4. close"] }}</p>
<p>Results: {{ results }}</p>
-->