

<!--
<div class="register">
    <div>
        <input [(ngModel)]='registerUser.firstName' type="text" placeholder="First Name" [ngModelOptions]="{standalone: true}">First Name
    </div>
    <div>
        <input [(ngModel)]='registerUser["lastName"]' type="text" placeholder="Last Name" [ngModelOptions]="{standalone: true}">Last Name
    </div>
    <div>
        <input [(ngModel)]='registerUser["email"]' type="text" placeholder="Email" [ngModelOptions]="{standalone: true}">Email
    </div>
    <div>
        <input [(ngModel)]='registerUser["password"]' type="text" placeholder="Password" [ngModelOptions]="{standalone: true}">Password
    </div>
    <button (click)="register()">Submit</button>
</div>
-->

<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Get Rich Quick <br>Stock Search
            <h5 class="hint">Register your new account</h5>
        </label>
        
        <div class="login-group">
            <input [(ngModel)]='registerUser.firstName' type="text" placeholder="First Name" [ngModelOptions]="{standalone: true}">
            <input [(ngModel)]='registerUser["lastName"]' type="text" placeholder="Last Name" [ngModelOptions]="{standalone: true}">
            <input [(ngModel)]='registerUser["email"]' type="text" placeholder="Email" [ngModelOptions]="{standalone: true}">
            <input [(ngModel)]='registerUser["password"]' type="password" placeholder="Password" [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="Credit Card Number (helpful, but not required)">
            
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div class="error active" id="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
            <a href="javascript://" class="signup">Forgot Password?</a>
        </div>
    </form>
</div>